<!DOCTYPE html>
<html>

<head>

    <title>Dashboard - Smart Bug Tracker</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>


<body>


<nav>

    <h2>Smart Bug Tracker</h2>

    <div>

        <a href="/">Home</a>

        <a href="/login">Login</a>

        <a href="/register">Register</a>

        <a href="/dashboard">Dashboard</a>

        <a href="/create_bug">
    <button type="button">
        Create Bug
    </button>
</a>

    </div>

</nav>



<div class="container">


<h1>Bug Dashboard</h1>


<div class="cards">


<div class="card">

<h2>0</h2>

<p>Total Bugs</p>

</div>



<div class="card">

<h2>0</h2>

<p>Open Bugs</p>

</div>



<div class="card">

<h2>0</h2>

<p>Resolved Bugs</p>

</div>



<div class="card">

<h2>0</h2>

<p>High Priority</p>

</div>


</div>


</div>


</body>

</html>