<!DOCTYPE html>
<html>

<head>

    <title>Smart Bug Tracker</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>


<body>


<nav>

    <h2>Smart Bug Tracker</h2>

    <div>

        <a href="/">Home</a>

        <a href="/login">Login</a>

        <a href="/register">Register</a>
     
        <a href="/dashboard">Dashboard</a>

    </div>

</nav>



<div class="container">


<h1>Smart Bug Tracker</h1>


<p>
Report, manage and track software bugs easily.
</p>



<button>
Create Bug
</button>


<a href="/dashboard">
<button>
View Dashboard
</button>
</a>

</div>


</body>

</html>