<!DOCTYPE html>
<html>

<head>

    <title>Login - Smart Bug Tracker</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<nav>

    <h2>Smart Bug Tracker</h2>

    <div>

        <a href="/">Home</a>

    </div>

</nav>


<div class="container">

    <h1>Login</h1>

    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}


    <form method="POST">

        <label>Email:</label>

        <input
            type="email"
            name="email"
            required
        >


        <label>Password:</label>

        <input
            type="password"
            name="password"
            required
        >


        <button type="submit">
            Login
        </button>


        <p class="register-link">
            Don't have an account?
            <a href="/register">Register here</a>
        </p>

    </form>

</div>

</body>

</html>